<% include header %>

<header>
  <h1>Ntalk</h1>
  <h4>A página que você tentou acessar não existe.</h4>
  <header>
    <hr>
    <p>Deseja voltar a <a href="/">Página Inicial</a> ?</p>

<% include footer %>
