<% include header %>
<header>
  <h1>Ntalk</h1>
  <h4>Ocorreram erros no servidor.</h4>
</header>

<p>
  Veja os detalhes dos erros:
  <br>
  <%- error.message %>
</p>
</hr>
<p>Deseja retornar para a <a href="/">página inicial</a> ?</p>
<% include footer %>
